.login
	form
		div
			input(type="text", name="username", ng-model="username", placeholder="user name")
		div
			input(type="password", name="password", ng-model="password", placeholder="password")
		div
			input(type="submit", value="Log in",  ng-click="loginSubmit()")