.page.secondary
	.page-header 
		.page-header-content
			h1 Application settings
				small &nbsp;
			a.back-button.big.page-back(href="#/main")
.page
	.page-region
		.page-region-content
			.grid
				.row
					.span12 Application Settings